modules/java/xsd/src/test/resources/org/metawidget/inspector/xsd/acmt-010.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R7.1.0.4) on 2010 Apr 21 16:01:27 -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:acmt.010.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:acmt.010.001.01">
	<xs:element name="Document" type="Document" />
	<xs:complexType name="AccountForAction1">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice" />
			<xs:element name="Ccy" type="ActiveCurrencyCode" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountIdentification4Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="IBAN" type="IBAN2007Identifier" />
				<xs:element name="Othr" type="GenericAccountIdentification1" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountRequestAcknowledgementV01">
		<xs:sequence>
			<xs:element name="Refs" type="References5" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="AcctId" type="AccountForAction1" />
			<xs:element maxOccurs="unbounded" minOccurs="1" name="OrgId" type="OrganisationIdentification6" />
			<xs:element name="AcctSvcrId" type="BranchAndFinancialInstitutionIdentification4" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="DgtlSgntr" type="PartyAndSignature1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalAccountIdentification1Code" />
				<xs:element name="Prtry" type="Max35Text" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ActiveCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AddressType2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADDR" />
			<xs:enumeration value="PBOX" />
			<xs:enumeration value="HOME" />
			<xs:enumeration value="BIZZ" />
			<xs:enumeration value="MLTO" />
			<xs:enumeration value="DLVY" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification4">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification7" />
			<xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="BranchData2" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchData2">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemIdentification2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalClearingSystemIdentification1Code" />
				<xs:element name="Prtry" type="Max35Text" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemMemberIdentification2">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice" />
			<xs:element name="MmbId" type="Max35Text" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactDetails2">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix1Code" />
			<xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber" />
			<xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber" />
			<xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber" />
			<xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max2048Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="Othr" type="Max35Text" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DateAndPlaceOfBirth">
		<xs:sequence>
			<xs:element name="BirthDt" type="ISODate" />
			<xs:element maxOccurs="1" minOccurs="0" name="PrvcOfBirth" type="Max35Text" />
			<xs:element name="CityOfBirth" type="Max35Text" />
			<xs:element name="CtryOfBirth" type="CountryCode" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="AcctReqAck" type="AccountRequestAcknowledgementV01" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ExternalAccountIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalClearingSystemIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="5" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalOrganisationIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPersonIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FinancialIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code" />
				<xs:element name="Prtry" type="Max35Text" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification7">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="BIC" type="BICIdentifier" />
			<xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" />
			<xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6" />
			<xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericAccountIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max34Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice" />
			<xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericFinancialIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" />
			<xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" />
			<xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericPersonIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="PersonIdentificationSchemeName1Choice" />
			<xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IBAN2007Identifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date" />
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime" />
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="140" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="16" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2048Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="2048" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max34Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="34" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="35" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max70Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="70" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MessageIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text" />
			<xs:element name="CreDtTm" type="ISODateTime" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="NamePrefix1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DOCT" />
			<xs:enumeration value="MIST" />
			<xs:enumeration value="MISS" />
			<xs:enumeration value="MADM" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OrganisationIdentification6">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="BIC" type="AnyBICIdentifier" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericOrganisationIdentification1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalOrganisationIdentification1Code" />
				<xs:element name="Prtry" type="Max35Text" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party8Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="OrgId" type="OrganisationIdentification6" />
				<xs:element name="PrvtId" type="PersonIdentification5" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyAndSignature1">
		<xs:sequence>
			<xs:element name="Pty" type="PartyIdentification41" />
			<xs:element name="Sgntr" type="ProprietaryData3" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification41">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6" />
			<xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party8Choice" />
			<xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode" />
			<xs:element maxOccurs="1" minOccurs="0" name="CtctDtls" type="ContactDetails2" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentification5">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericPersonIdentification1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalPersonIdentification1Code" />
				<xs:element name="Prtry" type="Max35Text" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PhoneNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PostalAddress6">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code" />
			<xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode" />
			<xs:element maxOccurs="7" minOccurs="0" name="AdrLine" type="Max70Text" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryData3">
		<xs:sequence>
			<xs:any namespace="##any" processContents="skip" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="References5">
		<xs:sequence>
			<xs:element name="ReqTp" type="UseCases1Code" />
			<xs:element name="MsgId" type="MessageIdentification1" />
			<xs:element name="PrcId" type="MessageIdentification1" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="AckdMsgId" type="MessageIdentification1" />
			<xs:element maxOccurs="1" minOccurs="0" name="Sts" type="Max35Text" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="AttchdDocNm" type="Max70Text" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="UseCases1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OPEN" />
			<xs:enumeration value="MNTN" />
			<xs:enumeration value="CLSG" />
			<xs:enumeration value="VIEW" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
