modules/java/xsd/src/test/resources/org/metawidget/inspector/xsd/acmt-007.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R7.0.3.1) on 2010 Mar 15 15:51:51 -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:acmt.007.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:acmt.007.001.01">
	<xs:element name="Document" type="Document" />
	<xs:complexType name="AccountContract2">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="TrgtGoLiveDt" type="ISODate" />
			<xs:element maxOccurs="1" minOccurs="0" name="TrgtClsgDt" type="ISODate" />
			<xs:element maxOccurs="1" minOccurs="0" name="UrgcyFlg" type="YesNoIndicator" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountIdentification4Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="IBAN" type="IBAN2007Identifier" />
				<xs:element name="Othr" type="GenericAccountIdentification1" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountOpeningRequestV01">
		<xs:sequence>
			<xs:element name="Refs" type="References4" />
			<xs:element name="Acct" type="CustomerAccount1" />
			<xs:element maxOccurs="1" minOccurs="0" name="CtrctDts" type="AccountContract2" />
			<xs:element maxOccurs="1" minOccurs="0" name="UndrlygMstrAgrmt" type="ContractDocument1" />
			<xs:element name="AcctSvcrId" type="BranchAndFinancialInstitutionIdentification4" />
			<xs:element maxOccurs="unbounded" minOccurs="1" name="Org" type="Organisation7" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Mndt" type="OperationMandate1" />
			<xs:element maxOccurs="1" minOccurs="0" name="RefAcct" type="CashAccount16" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="DgtlSgntr" type="PartyAndSignature1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalAccountIdentification1Code" />
				<xs:element name="Prtry" type="Max35Text" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AccountStatus3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ENAB" />
			<xs:enumeration value="DISA" />
			<xs:enumeration value="DELE" />
			<xs:enumeration value="FORM" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="5" />
			<xs:totalDigits value="18" />
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ActiveCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="ActiveCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ActiveCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActiveOrHistoricCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AddressType2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADDR" />
			<xs:enumeration value="PBOX" />
			<xs:enumeration value="HOME" />
			<xs:enumeration value="BIZZ" />
			<xs:enumeration value="MLTO" />
			<xs:enumeration value="DLVY" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Authorisation1">
		<xs:sequence>
			<xs:element name="MinAmtPerTx" type="ActiveCurrencyAndAmount" />
			<xs:element name="MaxAmtPerTx" type="ActiveCurrencyAndAmount" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="MaxAmtByPrd" type="MaximumAmountByPeriod1" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BankTransactionCodeStructure4">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="Domn" type="BankTransactionCodeStructure5" />
			<xs:element maxOccurs="1" minOccurs="0" name="Prtry" type="ProprietaryBankTransactionCodeStructure1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankTransactionCodeStructure5">
		<xs:sequence>
			<xs:element name="Cd" type="ExternalBankTransactionDomain1Code" />
			<xs:element name="Fmly" type="BankTransactionCodeStructure6" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankTransactionCodeStructure6">
		<xs:sequence>
			<xs:element name="Cd" type="ExternalBankTransactionFamily1Code" />
			<xs:element name="SubFmlyCd" type="ExternalBankTransactionSubFamily1Code" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification4">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification7" />
			<xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="BranchData2" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchData2">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccount16">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice" />
			<xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2" />
			<xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode" />
			<xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccountType2">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="CashAccountType4Code" />
				<xs:element name="Prtry" type="Max35Text" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CashAccountType4Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CASH" />
			<xs:enumeration value="CHAR" />
			<xs:enumeration value="COMM" />
			<xs:enumeration value="TAXE" />
			<xs:enumeration value="CISH" />
			<xs:enumeration value="TRAS" />
			<xs:enumeration value="SACC" />
			<xs:enumeration value="CACC" />
			<xs:enumeration value="SVGS" />
			<xs:enumeration value="ONDP" />
			<xs:enumeration value="MGLD" />
			<xs:enumeration value="NREX" />
			<xs:enumeration value="MOMA" />
			<xs:enumeration value="LOAN" />
			<xs:enumeration value="SLRY" />
			<xs:enumeration value="ODFT" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ClearingSystemIdentification2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalClearingSystemIdentification1Code" />
				<xs:element name="Prtry" type="Max35Text" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemMemberIdentification2">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice" />
			<xs:element name="MmbId" type="Max35Text" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CodeOrProprietary1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="Max4Text" />
				<xs:element name="Prtry" type="GenericIdentification13" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactDetails2">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix1Code" />
			<xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber" />
			<xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber" />
			<xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber" />
			<xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max2048Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="Othr" type="Max35Text" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContractDocument1">
		<xs:sequence>
			<xs:element name="Ref" type="Max35Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="SgnOffDt" type="ISODate" />
			<xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Max6Text" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CustomerAccount1">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice" />
			<xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="Sts" type="AccountStatus3Code" />
			<xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2" />
			<xs:element name="Ccy" type="ActiveCurrencyCode" />
			<xs:element maxOccurs="1" minOccurs="0" name="MnthlyPmtVal" type="ImpliedCurrencyAndAmount" />
			<xs:element maxOccurs="1" minOccurs="0" name="MnthlyRcvdVal" type="ImpliedCurrencyAndAmount" />
			<xs:element maxOccurs="1" minOccurs="0" name="MnthlyTxNb" type="Max5NumericText" />
			<xs:element maxOccurs="1" minOccurs="0" name="AvrgBal" type="ImpliedCurrencyAndAmount" />
			<xs:element maxOccurs="1" minOccurs="0" name="AcctPurp" type="Max140Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="FlrNtfctnAmt" type="ImpliedCurrencyAndAmount" />
			<xs:element maxOccurs="1" minOccurs="0" name="ClngNtfctnAmt" type="ImpliedCurrencyAndAmount" />
			<xs:element maxOccurs="1" minOccurs="0" name="StmtCycl" type="Frequency3Code" />
			<xs:element maxOccurs="1" minOccurs="0" name="ClsgDt" type="ISODate" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Rstrctn" type="Restriction1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateAndPlaceOfBirth">
		<xs:sequence>
			<xs:element name="BirthDt" type="ISODate" />
			<xs:element maxOccurs="1" minOccurs="0" name="PrvcOfBirth" type="Max35Text" />
			<xs:element name="CityOfBirth" type="Max35Text" />
			<xs:element name="CtryOfBirth" type="CountryCode" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="AcctOpngReq" type="AccountOpeningRequestV01" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ExternalAccountIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalBankTransactionDomain1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalBankTransactionFamily1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalBankTransactionSubFamily1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalClearingSystemIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="5" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalOrganisationIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPersonIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FinancialIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code" />
				<xs:element name="Prtry" type="Max35Text" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification7">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="BIC" type="BICIdentifier" />
			<xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" />
			<xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6" />
			<xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Frequency3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="YEAR" />
			<xs:enumeration value="MNTH" />
			<xs:enumeration value="QURT" />
			<xs:enumeration value="MIAN" />
			<xs:enumeration value="WEEK" />
			<xs:enumeration value="DAIL" />
			<xs:enumeration value="TEND" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GenericAccountIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max34Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice" />
			<xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericFinancialIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" />
			<xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericIdentification13">
		<xs:sequence>
			<xs:element name="Id" type="Max4AlphaNumericText" />
			<xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text" />
			<xs:element name="Issr" type="Max35Text" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" />
			<xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericPersonIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="PersonIdentificationSchemeName1Choice" />
			<xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IBAN2007Identifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date" />
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime" />
	</xs:simpleType>
	<xs:simpleType name="ImpliedCurrencyAndAmount">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="5" />
			<xs:totalDigits value="18" />
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10KBinary">
		<xs:restriction base="xs:base64Binary">
			<xs:minLength value="1" />
			<xs:maxLength value="10240" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="140" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max15PlusSignedNumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[+]{0,1}[0-9]{1,15}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="16" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2048Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="2048" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max34Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="34" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max350Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="350" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="35" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max3NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,3}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{1,4}" />
			<xs:minLength value="1" />
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max5NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,5}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max6Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="6" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max70Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="70" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MaximumAmountByPeriod1">
		<xs:sequence>
			<xs:element name="MaxAmt" type="ActiveCurrencyAndAmount" />
			<xs:element name="NbOfDays" type="Max3NumericText" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text" />
			<xs:element name="CreDtTm" type="ISODateTime" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="NamePrefix1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DOCT" />
			<xs:enumeration value="MIST" />
			<xs:enumeration value="MISS" />
			<xs:enumeration value="MADM" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OperationMandate1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text" />
			<xs:element name="ReqrdSgntrNb" type="Max15PlusSignedNumericText" />
			<xs:element name="SgntrOrdrInd" type="YesNoIndicator" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="MndtHldr" type="PartyAndCertificate1" />
			<xs:element maxOccurs="unbounded" minOccurs="1" name="BkOpr" type="BankTransactionCodeStructure4" />
			<xs:element maxOccurs="1" minOccurs="0" name="StartDt" type="ISODate" />
			<xs:element maxOccurs="1" minOccurs="0" name="EndDt" type="ISODate" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Organisation7">
		<xs:sequence>
			<xs:element name="FullLglNm" type="Max350Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="TradgNm" type="Max350Text" />
			<xs:element name="CtryOfOpr" type="CountryCode" />
			<xs:element name="RegnDt" type="ISODate" />
			<xs:element maxOccurs="1" minOccurs="0" name="OprlAdr" type="PostalAddress6" />
			<xs:element maxOccurs="1" minOccurs="0" name="BizAdr" type="PostalAddress6" />
			<xs:element name="LglAdr" type="PostalAddress6" />
			<xs:element name="OrgId" type="OrganisationIdentification6" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="RprtvOffcr" type="PartyIdentification40" />
			<xs:element maxOccurs="1" minOccurs="0" name="TrsrMgr" type="PartyIdentification40" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="MainMndtHldr" type="PartyIdentification40" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Sndr" type="PartyIdentification40" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentification6">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="BIC" type="AnyBICIdentifier" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericOrganisationIdentification1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalOrganisationIdentification1Code" />
				<xs:element name="Prtry" type="Max35Text" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party8Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="OrgId" type="OrganisationIdentification6" />
				<xs:element name="PrvtId" type="PersonIdentification5" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyAndCertificate1">
		<xs:sequence>
			<xs:element name="Pty" type="PartyIdentification41" />
			<xs:element maxOccurs="1" minOccurs="0" name="Cert" type="Max10KBinary" />
			<xs:element maxOccurs="1" minOccurs="0" name="SgntrOrdr" type="Max15PlusSignedNumericText" />
			<xs:element name="Authstn" type="Authorisation1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyAndSignature1">
		<xs:sequence>
			<xs:element name="Pty" type="PartyIdentification41" />
			<xs:element name="Sgntr" type="ProprietaryData3" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification40">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6" />
			<xs:element maxOccurs="1" minOccurs="0" name="Id" type="PersonIdentification5" />
			<xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode" />
			<xs:element maxOccurs="1" minOccurs="0" name="CtctDtls" type="ContactDetails2" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification41">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6" />
			<xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party8Choice" />
			<xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode" />
			<xs:element maxOccurs="1" minOccurs="0" name="CtctDtls" type="ContactDetails2" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentification5">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericPersonIdentification1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalPersonIdentification1Code" />
				<xs:element name="Prtry" type="Max35Text" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PhoneNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PostalAddress6">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code" />
			<xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode" />
			<xs:element maxOccurs="7" minOccurs="0" name="AdrLine" type="Max70Text" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryBankTransactionCodeStructure1">
		<xs:sequence>
			<xs:element name="Cd" type="Max35Text" />
			<xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryData3">
		<xs:sequence>
			<xs:any namespace="##any" processContents="skip" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="References4">
		<xs:sequence>
			<xs:element name="MsgId" type="MessageIdentification1" />
			<xs:element name="PrcId" type="MessageIdentification1" />
			<xs:element maxOccurs="unbounded" minOccurs="0" name="AttchdDocNm" type="Max70Text" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Restriction1">
		<xs:sequence>
			<xs:element name="RstrctnTp" type="CodeOrProprietary1Choice" />
			<xs:element name="VldFr" type="ISODateTime" />
			<xs:element maxOccurs="1" minOccurs="0" name="VldUntil" type="ISODateTime" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="YesNoIndicator">
		<xs:restriction base="xs:boolean" />
	</xs:simpleType>
</xs:schema>
