modules/java/xsd/src/test/resources/org/metawidget/inspector/xsd/personinfo.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="personinfo">
		<xs:sequence>
			<xs:element name="firstname" type="xs:string" />
			<xs:element name="lastname" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="fullpersoninfo">
		<xs:complexContent>
			<xs:extension base="personinfo">
				<xs:sequence>
					<xs:element name="address" type="xs:string" />
					<xs:element name="city" type="xs:string" />
					<xs:element name="country" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>