integration-tests/java/swing/xsd/src/main/resources/org/metawidget/integrationtest/swing/xsd/endorsementSearch.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="EndorsementSearch" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

	<wsdl:types>

		<xsd:schema xmlns:xsd="http://www.w3.org/1999/XMLSchema">

			<!-- xsd definition: GetEndorsingBoarder [manufacturer string, model string] -->
			<xsd:element name="GetEndorsingBoarder">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="name" type="string" minOccurs="1" />
						<xsd:element name="manufacturer" type="string" />
						<xsd:element name="model" type="xs:integer" />
						<xsd:element name="quantity">
							<xsd:simpleType>
								<xsd:restriction base="xs:integer">
									<xsd:minInclusive value="0" />
									<xsd:maxInclusive value="8" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="active" type="xs:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>

</wsdl:definitions>